*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#75e0fb, #bbb9b4);
    background-repeat: no-repeat;
}
.imagem{
    display: flex;
    justify-content: center;
}

.imagem img{
    width: 170px;
    border-radius: 200px;
    margin-top: 30px;
}
.nome{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    color: #1a4994;
    font-family: 'Metal Mania', cursive;
}

.icone, .email {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    cursor: pointer;
    margin: 3px;
    overflow: hidden;
}
.icone i, .email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 30px;
    background-color: rgb(237, 237, 237);
    color: rgb(69, 177, 240); 
    cursor: pointer;
}
.icone span a{
    list-style: none;
    font-family: 'Metal Mania', cursive;
    float: right;
    margin-right: 23px;
    font-weight: 100;
    color: #4d8cf9;
    line-height: 35px;
    font-size: 17px;
}
.nome-icone {
    font-family: 'Metal Mania', cursive;
    margin-right: 40px;
    float: right;
    color: #f2f2f2;
    font-weight: 100;
    line-height: 35px;
    font-size: 17px;
}
.icone:hover {
    width: 125px;
    background-color: rgb(226, 225, 224);
    border-radius: 20px;
}
.redes-sociais{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes-sociais a{
    text-decoration: none;
}

.texto{
    display: flex;
    position: relative; /*   */
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 50px 30px;
    font-family: 'Victor Mono', monospace;
    font-size: 20px;
    text-align: justify;
    width: 700px;
    height: 200px;
    padding: 50px;
    border-radius: 24px;
    color: rgb(237, 233, 233);
    background: rgb(3, 26, 62);
    overflow: hidden;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
}
.sobre-mim{
    position: absolute;
    top: 10px; /* Move o topo do h2 para o centro vertical */
    /* para valores em porcetagem - transform: ;*/
    display: flex;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
}
.subtitulo{
    font-weight: 100;  /* peso do texto ou negrito */
    color: #4d8cf9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-top: 45px;
    margin-bottom: 15px;
}
.linguagem{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.linguagem img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}
.projetos {
    margin-top: 40px;
    flex-direction: column;
}
.item {
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1a4994;
    border: 1px solid rgb(63, 197, 246);
    border-radius: 50px;
    width: 570px;
    height: 60px;
    font-size: 22px;
    background: rgb(234, 234, 234);
    box-shadow: 0 5px 5px rgb(68, 68, 68);
}
.item:hover {
    transition: 0.2s;
    background-color: #d1d1d1;
}
#movie{
    padding: 15px;
    margin: auto;
    display: none;
}
#movie.active {
    display: block;
}
.rodape p {
    color: #1a4994;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 50px ;
    font-family: 'Metal Mania', cursive;
}

/* Recursos que Renderiza o conteudo do site e adapte para diverças resoluções */ 

/*  resolução 700px  */
@media (max-width: 700px) {
    .imagem img {
        width: 150px;
        border-radius: 200px;
        margin-top: 25px;
    }
    .texto {
        width: 300px;
        height: 500px;
    }
    .linguagem img{
        width: 165px;
    }
    .subtitulo {
        font-size: 30px;
    }
    .item {
        width: 350px;
    }
    #movie {
        width: 350px;
    }
} /*  resolução 700px  */


@media (max-width: 500px) {
    .imagem img{
        width: 120px;
        margin-top: 30px;
    }
    .nome {
        font-size: 40px;
    }
    .texto {
        padding: 22px;
        width: 250px;
        height: 700px;
        margin-top: 35px;
    }
    .subtitulo {
        margin-top: 35px;
        font-size: 20px;
    }
    .item {
        width: 260px;
        height: 40px;
        margin-top: 12px;
    }
}
/*    */
@media (min-width: 700px) and (orientation: landscape)
    {

    }


